In [1]:
from pandas import DataFrame, Series
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
bureau = pd.read_csv('bureau.csv', na_values=['','XNA','XAP'])
bureau_balance = pd.read_csv('bureau_balance.csv', na_values=['','XNA','XAP'])

In [3]:
bureau.describe()

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
count,1.716428e+06,1.716428e+06,1.716428e+06,1.716428e+06,1.610875e+06,1.082775e+06,5.919400e+05,1.716428e+06,1.716415e+06,1.458759e+06,1.124648e+06,1.716428e+06,1.716428e+06,4.896370e+05
mean,2.782149e+05,5.924434e+06,-1.142108e+03,8.181666e-01,5.105174e+02,-1.017437e+03,3.825418e+03,6.410406e-03,3.549946e+05,1.370851e+05,6.229515e+03,3.791276e+01,-5.937483e+02,1.571276e+04
std,1.029386e+05,5.322657e+05,7.951649e+02,3.654443e+01,4.994220e+03,7.140106e+02,2.060316e+05,9.622391e-02,1.149811e+06,6.774011e+05,4.503203e+04,5.937650e+03,7.207473e+02,3.258269e+05
min,1.000010e+05,5.000000e+06,-2.922000e+03,0.000000e+00,-4.206000e+04,-4.202300e+04,0.000000e+00,0.000000e+00,0.000000e+00,-4.705600e+06,-5.864061e+05,0.000000e+00,-4.194700e+04,0.000000e+00
25%,1.888668e+05,5.463954e+06,-1.666000e+03,0.000000e+00,-1.138000e+03,-1.489000e+03,0.000000e+00,0.000000e+00,5.130000e+04,0.000000e+00,0.000000e+00,0.000000e+00,-9.080000e+02,0.000000e+00
50%,2.780550e+05,5.926304e+06,-9.870000e+02,0.000000e+00,-3.300000e+02,-8.970000e+02,0.000000e+00,0.000000e+00,1.255185e+05,0.000000e+00,0.000000e+00,0.000000e+00,-3.950000e+02,0.000000e+00
75%,3.674260e+05,6.385681e+06,-4.740000e+02,0.000000e+00,4.740000e+02,-4.250000e+02,0.000000e+00,0.000000e+00,3.150000e+05,4.015350e+04,0.000000e+00,0.000000e+00,-3.300000e+01,1.350000e+04
max,4.562550e+05,6.843457e+06,0.000000e+00,2.792000e+03,3.119900e+04,0.000000e+00,1.159872e+08,9.000000e+00,5.850000e+08,1.701000e+08,4.705600e+06,3.756681e+06,3.720000e+02,1.184534e+08

In [4]:
bureau.shape

(1716428, 17)

In [5]:
bureau_balance.describe()

       SK_ID_BUREAU  MONTHS_BALANCE
count  2.729992e+07    2.729992e+07
mean   6.036297e+06   -3.074169e+01
std    4.923489e+05    2.386451e+01
min    5.001709e+06   -9.600000e+01
25%    5.730933e+06   -4.600000e+01
50%    6.070821e+06   -2.500000e+01
75%    6.431951e+06   -1.100000e+01
max    6.842888e+06    0.000000e+00

In [8]:
bureau.SK_ID_CURR.nunique()

305811

In [6]:
print("Column-wise missing value percentage")
print(bureau.isnull().sum()/len(bureau)*100)

Column-wise missing value percentage
SK_ID_CURR                 0.000000
SK_ID_BUREAU               0.000000
CREDIT_ACTIVE              0.000000
CREDIT_CURRENCY            0.000000
DAYS_CREDIT                0.000000
CREDIT_DAY_OVERDUE         0.000000
DAYS_CREDIT_ENDDATE        6.149573
DAYS_ENDDATE_FACT         36.916958
AMT_CREDIT_MAX_OVERDUE    65.513264
CNT_CREDIT_PROLONG         0.000000
AMT_CREDIT_SUM             0.000757
AMT_CREDIT_SUM_DEBT       15.011932
AMT_CREDIT_SUM_LIMIT      34.477415
AMT_CREDIT_SUM_OVERDUE     0.000000
CREDIT_TYPE                0.000000
DAYS_CREDIT_UPDATE         0.000000
AMT_ANNUITY               71.473490
dtype: float64

In [10]:
#How many times was the Credit Bureau credit prolonged
bureau['CNT_CREDIT_PROLONG'].value_counts()

0    1707314
1       7620
2       1222
3        191
4         54
5         21
9          2
6          2
8          1
7          1
Name: CNT_CREDIT_PROLONG, dtype: int64

In [10]:
bureau['CREDIT_TYPE'].value_counts()

Consumer credit                                 1251615
Credit card                                      402195
Car loan                                          27690
Mortgage                                          18391
Microloan                                         12413
Loan for business development                      1975
Another type of loan                               1017
Unknown type of loan                                555
Loan for working capital replenishment              469
Cash loan (non-earmarked)                            56
Real estate loan                                     27
Loan for the purchase of equipment                   19
Loan for purchase of shares (margin lending)          4
Interbank credit                                      1
Mobile operator loan                                  1
Name: CREDIT_TYPE, dtype: int64

In [8]:
bureau['CREDIT_DAY_OVERDUE'].describe()

count    1.716428e+06
mean     8.181666e-01
std      3.654443e+01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      2.792000e+03
Name: CREDIT_DAY_OVERDUE, dtype: float64

## Cleaning data

In [11]:
bureau.columns

Index(['SK_ID_CURR', 'SK_ID_BUREAU', 'CREDIT_ACTIVE', 'CREDIT_CURRENCY',
       'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE',
       'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG',
       'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT',
       'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE',
       'AMT_ANNUITY'],
      dtype='object')

In [14]:
bureau_copy = bureau.copy()

In [15]:
bureau_1 = bureau_copy[['SK_ID_CURR','SK_ID_BUREAU','CREDIT_ACTIVE',
       'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 
       'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG',
       'AMT_CREDIT_SUM', 
       'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_TYPE']]

In [20]:
bureau_1.columns
bureau_1 = bureau_1.copy()

In [21]:
print("Column-wise missing value percentage")
print(bureau_1.isnull().sum()/len(bureau)*100)

Column-wise missing value percentage
SK_ID_CURR                 0.000000
SK_ID_BUREAU               0.000000
CREDIT_ACTIVE              0.000000
DAYS_CREDIT                0.000000
CREDIT_DAY_OVERDUE         0.000000
DAYS_ENDDATE_FACT         36.916958
AMT_CREDIT_MAX_OVERDUE     0.000000
CNT_CREDIT_PROLONG         0.000000
AMT_CREDIT_SUM             0.000757
AMT_CREDIT_SUM_OVERDUE     0.000000
CREDIT_TYPE                0.000000
dtype: float64

In [22]:
#Fill in 0 for max_overdue
bureau_1['AMT_CREDIT_MAX_OVERDUE'].fillna(0, inplace=True)

In [23]:
#Fill in 0 for DAYS_ENDDATE_FACT
bureau_1['DAYS_ENDDATE_FACT'].fillna(0, inplace=True)

In [25]:
#drop nas in the AMT_CREDIT_SUM
bureau_1.dropna(inplace=True)

In [26]:
print("Column-wise missing value percentage")
print(bureau_1.isnull().sum()/len(bureau)*100)

Column-wise missing value percentage
SK_ID_CURR                0.0
SK_ID_BUREAU              0.0
CREDIT_ACTIVE             0.0
DAYS_CREDIT               0.0
CREDIT_DAY_OVERDUE        0.0
DAYS_ENDDATE_FACT         0.0
AMT_CREDIT_MAX_OVERDUE    0.0
CNT_CREDIT_PROLONG        0.0
AMT_CREDIT_SUM            0.0
AMT_CREDIT_SUM_OVERDUE    0.0
CREDIT_TYPE               0.0
dtype: float64

## Summarizing Data

In [ ]:
#apply sum to some columns

In [31]:
agg_AMT_CREDIT_SUM_OVERDUE = bureau_1.groupby(['SK_ID_CURR'])[['AMT_CREDIT_SUM_OVERDUE']].sum()

In [77]:
agg_CREDIT_TYPE = bureau_1.groupby(['SK_ID_CURR'])[['CREDIT_TYPE']].count()

In [33]:
agg_AMT_CREDIT_SUM = bureau_1.groupby(['SK_ID_CURR'])[['AMT_CREDIT_SUM']].sum()

In [34]:
agg_CNT_CREDIT_PROLONG = bureau_1.groupby(['SK_ID_CURR'])[['CNT_CREDIT_PROLONG']].sum()

In [36]:
agg_AMT_CREDIT_MAX_OVERDUE = bureau_1.groupby(['SK_ID_CURR'])[['AMT_CREDIT_MAX_OVERDUE']].sum()

In [37]:
agg_CREDIT_DAY_OVERDUE = bureau_1.groupby(['SK_ID_CURR'])[['CREDIT_DAY_OVERDUE']].sum()

In [ ]:
#Aggregating the CREDIT_ACTIVE column

In [40]:
bureau_1['CREDIT_ACTIVE_DUMMY'] = np.where(bureau_1['CREDIT_ACTIVE']=='Active', 1, 0)

In [45]:
agg_CREDIT_ACTIVE = bureau_1.groupby(['SK_ID_CURR'])[['CREDIT_ACTIVE_DUMMY']].agg(['sum','count'])

In [48]:
agg_CREDIT_ACTIVE.columns = agg_CREDIT_ACTIVE.columns.droplevel(0)
agg_CREDIT_ACTIVE.head()

            sum  count
SK_ID_CURR
100001        3      7
100002        2      8
100003        1      4
100004        0      2
100005        2      3

In [58]:
agg_percent_CREDIT_ACTIVE = agg_CREDIT_ACTIVE['sum']/agg_CREDIT_ACTIVE['count']
agg_percent_CREDIT_ACTIVE = pd.DataFrame(agg_percent_CREDIT_ACTIVE)
agg_percent_CREDIT_ACTIVE.columns = ['Percent_CREDIT_ACTIVE']

In [59]:
agg_percent_CREDIT_ACTIVE.head()

            Percent_CREDIT_ACTIVE
SK_ID_CURR
100001                   0.428571
100002                   0.250000
100003                   0.250000
100004                   0.000000
100005                   0.666667

In [ ]:
#Aggregating the DAYS_CREDIT column

In [66]:
agg_DAYS_CREDIT = bureau_1.groupby(['SK_ID_CURR'])[['DAYS_CREDIT']].agg(['mean'])

In [68]:
agg_DAYS_CREDIT.columns = agg_DAYS_CREDIT.columns.droplevel(0)
agg_DAYS_CREDIT.columns = ['AVG_DAYS_CREDIT']
agg_DAYS_CREDIT.head()

            AVG_DAYS_CREDIT
SK_ID_CURR
100001          -735.000000
100002          -874.000000
100003         -1400.750000
100004          -867.000000
100005          -190.666667

In [ ]:
#Aggregating the DAYS_ENDDATE_FACT column

In [69]:
agg_DAYS_ENDDATE_FACT = bureau_1.groupby(['SK_ID_CURR'])[['DAYS_ENDDATE_FACT']].agg(['min'])

In [81]:
agg_DAYS_ENDDATE_FACT.columns = agg_DAYS_ENDDATE_FACT.columns.droplevel(0)
agg_DAYS_ENDDATE_FACT.columns = ['MIN_DAYS_ENDDATE']
agg_DAYS_ENDDATE_FACT.head()

            MIN_DAYS_ENDDATE
SK_ID_CURR
100001               -1328.0
100002               -1185.0
100003               -2131.0
100004                -683.0
100005                -123.0

### Putting it all together

In [82]:
frames = [agg_AMT_CREDIT_SUM_OVERDUE, agg_CREDIT_TYPE, agg_AMT_CREDIT_SUM, agg_CNT_CREDIT_PROLONG, 
         agg_AMT_CREDIT_MAX_OVERDUE, agg_CREDIT_DAY_OVERDUE, agg_percent_CREDIT_ACTIVE, agg_DAYS_CREDIT, 
          agg_DAYS_ENDDATE_FACT]

In [83]:
agg_Bureau = pd.concat(frames,axis=1)

In [85]:
agg_Bureau.head()

,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,AMT_CREDIT_SUM,CNT_CREDIT_PROLONG,AMT_CREDIT_MAX_OVERDUE,CREDIT_DAY_OVERDUE,Percent_CREDIT_ACTIVE,AVG_DAYS_CREDIT,MIN_DAYS_ENDDATE
SK_ID_CURR,,,,,,,,,
100001,0.0,7,1453365.000,0,0.000,0,0.428571,-735.000000,-1328.0
100002,0.0,8,865055.565,0,8405.145,0,0.250000,-874.000000,-1185.0
100003,0.0,4,1017400.500,0,0.000,0,0.250000,-1400.750000,-2131.0
100004,0.0,2,189037.800,0,0.000,0,0.000000,-867.000000,-683.0
100005,0.0,3,657126.000,0,0.000,0,0.666667,-190.666667,-123.0

In [86]:
agg_Bureau.to_csv('Bureau_features.csv')